<div class="page_container">
  <div class="col-lg-12">
    Restaurants in <strong><%= @area_code %></strong> area. <br /><br />
  </div>
<!--  <p>
    <%= will_paginate(@restaurants, :params => { :id => @area_code_original })%>
  </p>
-->

    <%= render 'restaurant_list_new', obj: @restaurants %>
    <%= will_paginate(@restaurants, :params => { :id => @area_code_original })%>

</div>
