<div class="page_container">

  <%= @area_code %>

<!--  <p>
    <%= will_paginate(@restaurants, :params => { :id => @area_code_original })%>
  </p>
-->
  <div class="row">
    <%= render 'restaurant_list', obj: @restaurants %>
  </div>
  <p>
    <%= will_paginate(@restaurants, :params => { :id => @area_code_original })%>
  </p>
</div>
